{% load myfilter %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HealthGaurd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        
        {% if request.user.is_authenticated %}
         
        {% if request.user|is_in_group:'Doctors' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'doctor_dashboard' %}">Doctor's Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_requests' %}">Get Access</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_dashboard' %}">Patient's Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_doctors' %}">Grant Access</a>
          </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        
        
      </ul>
    </div>
  
</nav>